h1 {
    color: black;
}

#Meme-container {
    text-align: center;
    position: relative;
}

#meme-img {
    border: 1px solid black;
    margin: 20px 0;
    max-width: 200px;
    max-height: 400px;
}

 #top-text {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: white;
 }

 #bottom-text {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: white;
 }

#remove-btn {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    background-color: white;
    border: none;
    padding: 6px 8px;
    border-radius: 6px;
}

#remove-btn:hover {
    cursor: pointer;
}