#title {
    color: black;
}

#form-container {
    width: 300px;
    margin: 50px auto 0 auto;
}

input {
    width: 100%;
    border-radius: 6px;
    border: none;
    padding: 4px 0;
    margin: 10px 0;
}

#generate-meme {
    margin: 10px 80px;
    width: 150px;
    border-radius: 20px;
    border: 1px solid #8458B3;
    padding: 6px;
    background-color: #50577A;
    color: white;
}

#generate-meme:hover {
    cursor: pointer;
    background-color: #6B728E;
}